body {
    background-color: #f9f9f9;
}

#timerDisplay {
    font-family: "Courier New", Courier, monospace;
    color: #333333;
    font-size: 28px;
}

#timerDisplay.red {
    color: red;
}

input::placeholder {
    color: #aaa;
    text-align: center;
}